In [1]:
import json
import pandas as pd
import numpy as np

In [3]:
with open("../ip_files/country_currency.json", "r") as f:
    country_currency = json.load(f)

country_currency

{'BD': 'BDT',
 'BE': 'EUR',
 'BF': 'XOF',
 'BG': 'BGN',
 'BA': 'BAM',
 'BB': 'BBD',
 'WF': 'XPF',
 'BL': 'EUR',
 'BM': 'BMD',
 'BN': 'BND',
 'BO': 'BOB',
 'BH': 'BHD',
 'BI': 'BIF',
 'BJ': 'XOF',
 'BT': 'BTN',
 'JM': 'JMD',
 'BV': 'NOK',
 'BW': 'BWP',
 'WS': 'WST',
 'BQ': 'USD',
 'BR': 'BRL',
 'BS': 'BSD',
 'JE': 'GBP',
 'BY': 'BYR',
 'BZ': 'BZD',
 'RU': 'RUB',
 'RW': 'RWF',
 'RS': 'RSD',
 'TL': 'USD',
 'RE': 'EUR',
 'TM': 'TMT',
 'TJ': 'TJS',
 'RO': 'RON',
 'TK': 'NZD',
 'GW': 'XOF',
 'GU': 'USD',
 'GT': 'GTQ',
 'GS': 'GBP',
 'GR': 'EUR',
 'GQ': 'XAF',
 'GP': 'EUR',
 'JP': 'JPY',
 'GY': 'GYD',
 'GG': 'GBP',
 'GF': 'EUR',
 'GE': 'GEL',
 'GD': 'XCD',
 'GB': 'GBP',
 'GA': 'XAF',
 'SV': 'USD',
 'GN': 'GNF',
 'GM': 'GMD',
 'GL': 'DKK',
 'GI': 'GIP',
 'GH': 'GHS',
 'OM': 'OMR',
 'TN': 'TND',
 'JO': 'JOD',
 'HR': 'HRK',
 'HT': 'HTG',
 'HU': 'HUF',
 'HK': 'HKD',
 'HN': 'HNL',
 'HM': 'AUD',
 'VE': 'VEF',
 'PR': 'USD',
 'PS': 'ILS',
 'PW': 'USD',
 'PT': 'EUR',
 'SJ': 'NOK',
 'PY': 'PYG',
 'IQ': 'IQD',
 'PA': 'PAB',
 'PF': 'XPF',
 'PG': 'PGK',
 'PE': 'PEN',
 'PK': 'PKR',
 'PH': 'PHP',
 'PN': 'NZD',
 'PL': 'PLN',
 'PM': 'EUR',
 'ZM': 'ZMK',
 'EH': 'MAD',
 'EE': 'EUR',
 'EG': 'EGP',
 'ZA': 'ZAR',
 'EC': 'USD',
 'IT': 'EUR',
 'VN': 'VND',
 'SB': 'SBD',
 'ET': 'ETB',
 'SO': 'SOS',
 'ZW': 'ZWL',
 'SA': 'SAR',
 'ES': 'EUR',
 'ER': 'ERN',
 'ME': 'EUR',
 'MD': 'MDL',
 'MG': 'MGA',
 'MF': 'EUR',
 'MA': 'MAD',
 'MC': 'EUR',
 'UZ': 'UZS',
 'MM': 'MMK',
 'ML': 'XOF',
 'MO': 'MOP',
 'MN': 'MNT',
 'MH': 'USD',
 'MK': 'MKD',
 'MU': 'MUR',
 'MT': 'EUR',
 'MW': 'MWK',
 'MV': 'MVR',
 'MQ': 'EUR',
 'MP': 'USD',
 'MS': 'XCD',
 'MR': 'MRO',
 'IM': 'GBP',
 'UG': 'UGX',
 'TZ': 'TZS',
 'MY': 'MYR',
 'MX': 'MXN',
 'IL': 'ILS',
 'FR': 'EUR',
 'IO': 'USD',
 'SH': 'SHP',
 'FI': 'EUR',
 'FJ': 'FJD',
 'FK': 'FKP',
 'FM': 'USD',
 'FO': 'DKK',
 'NI': 'NIO',
 'NL': 'EUR',
 'NO': 'NOK',
 'NA': 'NAD',
 'VU': 'VUV',
 'NC': 'XPF',
 'NE': 'XOF',
 'NF': 'AUD',
 'NG': 'NGN',
 'NZ': 'NZD',
 'NP': 'NPR',
 'NR': 'AUD',
 'NU': 'NZD',
 'CK': 'NZD',
 'XK': 'EUR',
 'CI': 'XOF',
 'CH': 'CHF',
 'CO': 'COP',
 'CN': 'CNY',
 'CM': 'XAF',
 'CL': 'CLP',
 'CC': 'AUD',
 'CA': 'CAD',
 'CG': 'XAF',
 'CF': 'XAF',
 'CD': 'CDF',
 'CZ': 'CZK',
 'CY': 'EUR',
 'CX': 'AUD',
 'CR': 'CRC',
 'CW': 'ANG',
 'CV': 'CVE',
 'CU': 'CUP',
 'SZ': 'SZL',
 'SY': 'SYP',
 'SX': 'ANG',
 'KG': 'KGS',
 'KE': 'KES',
 'SS': 'SSP',
 'SR': 'SRD',
 'KI': 'AUD',
 'KH': 'KHR',
 'KN': 'XCD',
 'KM': 'KMF',
 'ST': 'STD',
 'SK': 'EUR',
 'KR': 'KRW',
 'SI': 'EUR',
 'KP': 'KPW',
 'KW': 'KWD',
 'SN': 'XOF',
 'SM': 'EUR',
 'SL': 'SLL',
 'SC': 'SCR',
 'KZ': 'KZT',
 'KY': 'KYD',
 'SG': 'SGD',
 'SE': 'SEK',
 'SD': 'SDG',
 'DO': 'DOP',
 'DM': 'XCD',
 'DJ': 'DJF',
 'DK': 'DKK',
 'VG': 'USD',
 'DE': 'EUR',
 'YE': 'YER',
 'DZ': 'DZD',
 'US': 'USD',
 'UY': 'UYU',
 'YT': 'EUR',
 'UM': 'USD',
 'LB': 'LBP',
 'LC': 'XCD',
 'LA': 'LAK',
 'TV': 'AUD',
 'TW': 'TWD',
 'TT': 'TTD',
 'TR': 'TRY',
 'LK': 'LKR',
 'LI': 'CHF',
 'LV': 'EUR',
 'TO': 'TOP',
 'LT': 'LTL',
 'LU': 'EUR',
 'LR': 'LRD',
 'LS': 'LSL',
 'TH': 'THB',
 'TF': 'EUR',
 'TG': 'XOF',
 'TD': 'XAF',
 'TC': 'USD',
 'LY': 'LYD',
 'VA': 'EUR',
 'VC': 'XCD',
 'AE': 'AED',
 'AD': 'EUR',
 'AG': 'XCD',
 'AF': 'AFN',
 'AI': 'XCD',
 'VI': 'USD',
 'IS': 'ISK',
 'IR': 'IRR',
 'AM': 'AMD',
 'AL': 'ALL',
 'AO': 'AOA',
 'AQ': '',
 'AS': 'USD',
 'AR': 'ARS',
 'AU': 'AUD',
 'AT': 'EUR',
 'AW': 'AWG',
 'IN': 'INR',
 'AX': 'EUR',
 'AZ': 'AZN',
 'IE': 'EUR',
 'ID': 'IDR',
 'UA': 'UAH',
 'QA': 'QAR',
 'MZ': 'MZN'}

In [5]:
with open("../ip_files/country_name.json", "r") as f:
    country_name = json.load(f)

country_name

{'BD': 'Bangladesh',
 'BE': 'Belgium',
 'BF': 'Burkina Faso',
 'BG': 'Bulgaria',
 'BA': 'Bosnia and Herzegovina',
 'BB': 'Barbados',
 'WF': 'Wallis and Futuna',
 'BL': 'Saint Barthelemy',
 'BM': 'Bermuda',
 'BN': 'Brunei',
 'BO': 'Bolivia',
 'BH': 'Bahrain',
 'BI': 'Burundi',
 'BJ': 'Benin',
 'BT': 'Bhutan',
 'JM': 'Jamaica',
 'BV': 'Bouvet Island',
 'BW': 'Botswana',
 'WS': 'Samoa',
 'BQ': 'Bonaire, Saint Eustatius and Saba ',
 'BR': 'Brazil',
 'BS': 'Bahamas',
 'JE': 'Jersey',
 'BY': 'Belarus',
 'BZ': 'Belize',
 'RU': 'Russia',
 'RW': 'Rwanda',
 'RS': 'Serbia',
 'TL': 'East Timor',
 'RE': 'Reunion',
 'TM': 'Turkmenistan',
 'TJ': 'Tajikistan',
 'RO': 'Romania',
 'TK': 'Tokelau',
 'GW': 'Guinea-Bissau',
 'GU': 'Guam',
 'GT': 'Guatemala',
 'GS': 'South Georgia and the South Sandwich Islands',
 'GR': 'Greece',
 'GQ': 'Equatorial Guinea',
 'GP': 'Guadeloupe',
 'JP': 'Japan',
 'GY': 'Guyana',
 'GG': 'Guernsey',
 'GF': 'French Guiana',
 'GE': 'Georgia',
 'GD': 'Grenada',
 'GB': 'United Kingdom',
 'GA': 'Gabon',
 'SV': 'El Salvador',
 'GN': 'Guinea',
 'GM': 'Gambia',
 'GL': 'Greenland',
 'GI': 'Gibraltar',
 'GH': 'Ghana',
 'OM': 'Oman',
 'TN': 'Tunisia',
 'JO': 'Jordan',
 'HR': 'Croatia',
 'HT': 'Haiti',
 'HU': 'Hungary',
 'HK': 'Hong Kong',
 'HN': 'Honduras',
 'HM': 'Heard Island and McDonald Islands',
 'VE': 'Venezuela',
 'PR': 'Puerto Rico',
 'PS': 'Palestinian Territory',
 'PW': 'Palau',
 'PT': 'Portugal',
 'SJ': 'Svalbard and Jan Mayen',
 'PY': 'Paraguay',
 'IQ': 'Iraq',
 'PA': 'Panama',
 'PF': 'French Polynesia',
 'PG': 'Papua New Guinea',
 'PE': 'Peru',
 'PK': 'Pakistan',
 'PH': 'Philippines',
 'PN': 'Pitcairn',
 'PL': 'Poland',
 'PM': 'Saint Pierre and Miquelon',
 'ZM': 'Zambia',
 'EH': 'Western Sahara',
 'EE': 'Estonia',
 'EG': 'Egypt',
 'ZA': 'South Africa',
 'EC': 'Ecuador',
 'IT': 'Italy',
 'VN': 'Vietnam',
 'SB': 'Solomon Islands',
 'ET': 'Ethiopia',
 'SO': 'Somalia',
 'ZW': 'Zimbabwe',
 'SA': 'Saudi Arabia',
 'ES': 'Spain',
 'ER': 'Eritrea',
 'ME': 'Montenegro',
 'MD': 'Moldova',
 'MG': 'Madagascar',
 'MF': 'Saint Martin',
 'MA': 'Morocco',
 'MC': 'Monaco',
 'UZ': 'Uzbekistan',
 'MM': 'Myanmar',
 'ML': 'Mali',
 'MO': 'Macao',
 'MN': 'Mongolia',
 'MH': 'Marshall Islands',
 'MK': 'Macedonia',
 'MU': 'Mauritius',
 'MT': 'Malta',
 'MW': 'Malawi',
 'MV': 'Maldives',
 'MQ': 'Martinique',
 'MP': 'Northern Mariana Islands',
 'MS': 'Montserrat',
 'MR': 'Mauritania',
 'IM': 'Isle of Man',
 'UG': 'Uganda',
 'TZ': 'Tanzania',
 'MY': 'Malaysia',
 'MX': 'Mexico',
 'IL': 'Israel',
 'FR': 'France',
 'IO': 'British Indian Ocean Territory',
 'SH': 'Saint Helena',
 'FI': 'Finland',
 'FJ': 'Fiji',
 'FK': 'Falkland Islands',
 'FM': 'Micronesia',
 'FO': 'Faroe Islands',
 'NI': 'Nicaragua',
 'NL': 'Netherlands',
 'NO': 'Norway',
 'NA': 'Namibia',
 'VU': 'Vanuatu',
 'NC': 'New Caledonia',
 'NE': 'Niger',
 'NF': 'Norfolk Island',
 'NG': 'Nigeria',
 'NZ': 'New Zealand',
 'NP': 'Nepal',
 'NR': 'Nauru',
 'NU': 'Niue',
 'CK': 'Cook Islands',
 'XK': 'Kosovo',
 'CI': 'Ivory Coast',
 'CH': 'Switzerland',
 'CO': 'Colombia',
 'CN': 'China',
 'CM': 'Cameroon',
 'CL': 'Chile',
 'CC': 'Cocos Islands',
 'CA': 'Canada',
 'CG': 'Republic of the Congo',
 'CF': 'Central African Republic',
 'CD': 'Democratic Republic of the Congo',
 'CZ': 'Czech Republic',
 'CY': 'Cyprus',
 'CX': 'Christmas Island',
 'CR': 'Costa Rica',
 'CW': 'Curacao',
 'CV': 'Cape Verde',
 'CU': 'Cuba',
 'SZ': 'Swaziland',
 'SY': 'Syria',
 'SX': 'Sint Maarten',
 'KG': 'Kyrgyzstan',
 'KE': 'Kenya',
 'SS': 'South Sudan',
 'SR': 'Suriname',
 'KI': 'Kiribati',
 'KH': 'Cambodia',
 'KN': 'Saint Kitts and Nevis',
 'KM': 'Comoros',
 'ST': 'Sao Tome and Principe',
 'SK': 'Slovakia',
 'KR': 'South Korea',
 'SI': 'Slovenia',
 'KP': 'North Korea',
 'KW': 'Kuwait',
 'SN': 'Senegal',
 'SM': 'San Marino',
 'SL': 'Sierra Leone',
 'SC': 'Seychelles',
 'KZ': 'Kazakhstan',
 'KY': 'Cayman Islands',
 'SG': 'Singapore',
 'SE': 'Sweden',
 'SD': 'Sudan',
 'DO': 'Dominican Republic',
 'DM': 'Dominica',
 'DJ': 'Djibouti',
 'DK': 'Denmark',
 'VG': 'British Virgin Islands',
 'DE': 'Germany',
 'YE': 'Yemen',
 'DZ': 'Algeria',
 'US': 'United States',
 'UY': 'Uruguay',
 'YT': 'Mayotte',
 'UM': 'United States Minor Outlying Islands',
 'LB': 'Lebanon',
 'LC': 'Saint Lucia',
 'LA': 'Laos',
 'TV': 'Tuvalu',
 'TW': 'Taiwan',
 'TT': 'Trinidad and Tobago',
 'TR': 'Turkey',
 'LK': 'Sri Lanka',
 'LI': 'Liechtenstein',
 'LV': 'Latvia',
 'TO': 'Tonga',
 'LT': 'Lithuania',
 'LU': 'Luxembourg',
 'LR': 'Liberia',
 'LS': 'Lesotho',
 'TH': 'Thailand',
 'TF': 'French Southern Territories',
 'TG': 'Togo',
 'TD': 'Chad',
 'TC': 'Turks and Caicos Islands',
 'LY': 'Libya',
 'VA': 'Vatican',
 'VC': 'Saint Vincent and the Grenadines',
 'AE': 'United Arab Emirates',
 'AD': 'Andorra',
 'AG': 'Antigua and Barbuda',
 'AF': 'Afghanistan',
 'AI': 'Anguilla',
 'VI': 'U.S. Virgin Islands',
 'IS': 'Iceland',
 'IR': 'Iran',
 'AM': 'Armenia',
 'AL': 'Albania',
 'AO': 'Angola',
 'AQ': 'Antarctica',
 'AS': 'American Samoa',
 'AR': 'Argentina',
 'AU': 'Australia',
 'AT': 'Austria',
 'AW': 'Aruba',
 'IN': 'India',
 'AX': 'Aland Islands',
 'AZ': 'Azerbaijan',
 'IE': 'Ireland',
 'ID': 'Indonesia',
 'UA': 'Ukraine',
 'QA': 'Qatar',
 'MZ': 'Mozambique'}

In [6]:
# country_currency.keys(), country_currency.values()
# country_name.keys(), country_name.values()

In [8]:
df = pd.DataFrame(data=country_currency.values(), index = country_currency.keys()).reset_index()
df

    index    0
0      BD  BDT
1      BE  EUR
2      BF  XOF
3      BG  BGN
4      BA  BAM
..    ...  ...
245    IE  EUR
246    ID  IDR
247    UA  UAH
248    QA  QAR
249    MZ  MZN

[250 rows x 2 columns]

In [9]:
df["country_name"] = country_name.values()
df

    index    0            country_name
0      BD  BDT              Bangladesh
1      BE  EUR                 Belgium
2      BF  XOF            Burkina Faso
3      BG  BGN                Bulgaria
4      BA  BAM  Bosnia and Herzegovina
..    ...  ...                     ...
245    IE  EUR                 Ireland
246    ID  IDR               Indonesia
247    UA  UAH                 Ukraine
248    QA  QAR                   Qatar
249    MZ  MZN              Mozambique

[250 rows x 3 columns]

In [10]:
df.columns = ["country", "currency", "name"]
df

    country currency                    name
0        BD      BDT              Bangladesh
1        BE      EUR                 Belgium
2        BF      XOF            Burkina Faso
3        BG      BGN                Bulgaria
4        BA      BAM  Bosnia and Herzegovina
..      ...      ...                     ...
245      IE      EUR                 Ireland
246      ID      IDR               Indonesia
247      UA      UAH                 Ukraine
248      QA      QAR                   Qatar
249      MZ      MZN              Mozambique

[250 rows x 3 columns]

In [11]:
df.set_index(["country"], inplace=True)
df

        currency                    name
country
BD           BDT              Bangladesh
BE           EUR                 Belgium
BF           XOF            Burkina Faso
BG           BGN                Bulgaria
BA           BAM  Bosnia and Herzegovina
...          ...                     ...
IE           EUR                 Ireland
ID           IDR               Indonesia
UA           UAH                 Ukraine
QA           QAR                   Qatar
MZ           MZN              Mozambique

[250 rows x 2 columns]

In [12]:
df.to_csv("../ip_files/country.csv")